# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
out/
publish/
wwwroot/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/
*.DotSettings.user

# VS Code
.vscode/

# ASP.NET Core secrets
secrets.json

# Logs
*.log
logs/
Log/

# EF Core (optional)
Migrations/
ModelSnapshot.cs

# dotenv files
.env

# NuGet
*.nupkg
*.snupkg
*.tgz
project.lock.json
project.fragment.lock.json
artifacts/
packages/

# Test results
TestResults/

# Dependency folders
node_modules/
bower_components/

# Temporary files
~$*
*.tmp

# ReSharper
_ReSharper*/
